<h2>BFF OpenIddict Security architecture with Angular nx</h2>

<ng-container *ngIf="userProfileClaims$ | async as userProfileClaims; else noAuth">
  <div *ngIf="userProfileClaims?.isAuthenticated; else noAuth">
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="btn btn-link" href="./call-api">Call API</a>
		
		<form method="post" action="api/Account/Logout">
		  <button class="btn btn-link" type="submit">Sign out</button>
		</form>
	  </nav>
  </div>

  <hr />

  <h2>User profile:</h2>
  <pre>{{ userProfileClaims | json }}</pre>

</ng-container>

<ng-template #noAuth>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="btn btn-link" href="api/Account/Login">Log in</a>
	</nav>
</ng-template>

 <hr />